<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.UserMapper">

    <select resultType="pojo.User" id="getAllUsers">select * from user </select>

    <select resultType="pojo.User" id="getUserById" parameterType="int">
    select * from user where id = #{id}
    </select>

    <select resultType="pojo.User" id="getUserByName" parameterType="string">
    select * from user where name = ${name}
    </select>

    <insert id="addUser" parameterType="pojo.User">
    insert into user(name,pwd) values(#{name},#{pwd})
    </insert>

    <update id="updateUser" parameterType="pojo.User">
    update user set pwd =#{pwd} where id = #{id}
    </update>

    <delete id="deleteUsers" parameterType="string">
        delete from user where id in (${id})
    </delete>
                <!--map传参-->

    <select id="getUserByParams3" resultType="pojo.User">
        select  * from user
        where  name = #{username}
          and pwd =#{password}
    </select>
    <select id="getUserByParams1" resultType="pojo.User">
        select * from user
        where  name  = #{name}
          and pwd = #{pwd}
    </select>
    <select id="getUserByParams2" resultType="pojo.User">
        select * from user
        where  name  = #{arg0}
          and pwd = #{arg1}
    </select>
    <select id="gerUserByParams4" resultType="pojo.User">
        select *from  user
        where name = #{name}
          and pwd = #{pwd}
    </select>


</mapper>